# Dependencies
node_modules/

# Builds
build/
dist/

# Env files
.env
.env.*

# Vercel
.vercel/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
